<div mat-dialog-title>
    <h1>Curso - Formulário</h1>
  </div>
  <form [formGroup]="cursoForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nome do Curso</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ex. Redes de Computadores"
            formControlName="curso_nome"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Trimestre</mat-label>
          <mat-select formControlName="trimestre">
            <mat-option *ngFor="let trimestre of trimestres" [value]="trimestre"
              >{{ trimestre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
  
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Coordenador</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ex. Matheus"
            formControlName="usuario_coordenador"
          />
        </mat-form-field>
      </div>
  
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="primary" type="submit">
        {{ data ? "Atualizar" : "Cadastrar" }}
      </button>
  
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancelar
      </button>
    </div>
  </form>
  