.example-spacer-button {
    margin-left: 25px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  